.wrapper {
  background-color: #233639;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
}

.result {
  color: #e5eee7;
  display: flex;
  justify-content: right;
  margin-right: 2.5rem;
  font-size: 3.5rem;
}
